<%- include (‘partials/header’, {title:'Incident'}); %>

<div class="page__title-container">
    <h2 class="title__text">
        Page principal incidient
    </h2>
</div>

<div class="main__container">
    for(incident of locals.incidents){
        <div class="incident__container">
            <div class="incident__data"><label for="" class="label__nature"></label>
                <label for="" class="label__detail"></label>
            </div>
            <div class="incident__data-container">
                <a href="http://"></a>
            </div>
        </div>
    }
</div>

<%- include (‘partials/footer’); %>